@page "/"

<PageTitle>Index</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>

<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>

<MudAlert
    Severity="Severity.Normal"
    Class="mb-8">
    You can find documentation and examples on our website here:
    <MudLink
        Href="https://mudblazor.com"
        Typo="Typo.body2"
        Color="Color.Inherit">
        <b>www.mudblazor.com</b>
    </MudLink>
</MudAlert>


<MudContainer
    MaxWidth="MaxWidth.Large">
    <MudStack Row="true"
              Spacing="4"
              AlignItems="AlignItems.Start"
              Justify="Justify.SpaceEvenly"
              Class="flex-wrap">

        <div>
            <Counter IncrementBy="5"/>
        </div>

        <div>
            <Counter IncrementBy="10"/>
        </div>

    </MudStack>
</MudContainer>